.signform {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  padding-left: 30%;
  padding-right: 30%;
  color: "";
  margin-left: auto;
}
.formstyle {
  background-color: #92ceff;
  background-color: #ccf1e0;
  border-radius: 10px;
  color: black;
}
.container {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* padding-bottom: 25px; */
  height: 100vh;
  width: 100vw;

  /* backgorund-filter: blur(8px); */
}
@media screen and (max-width: 900px) {
  .signform {
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 12%;
  }
}

.fixed-logo {
  display: none;
  position: fixed;
  top: 2%;
  right: 0%;
  height: max(15vh, 20vw);
  aspect-ratio: 1 / 1;
}
.fixed-logo-visible {
  display: unset;
}
