.heading1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    /* margin-bottom: 10px; */
    /* text-shadow: 1px 1.1px 2.5px #fff; */
    color:  #03f7f7;
    margin-bottom: 0px;

}
.aboutcontainer{
    background-color: #191516;
    margin-top: -50px;
    margin-bottom: -50px;
    padding-left:90px;
    padding-right: 90px;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 50px;
    word-spacing: 5px;
}
.aboutcontent{
    text-align: center;
}