:root {
  --main-color: #f8c456;
}

.events-page-heading {
  margin: 40px;
  padding: 0;
  color: var(--main-color);
  text-align: left;
  font-size: 3rem;
  /* padding: 2.5rem; */
  /* margin-left: 3rem; */
  letter-spacing: 5px;
}
.events-page-teamsize{
    color: var(--main-color);
    margin:0;
}

@media (max-width: 600px) {
  .events-page-heading {
    font-size: 2rem;
    padding: 2rem;
    margin-left: 1.5rem;
  }
}
.fixed-logo {
  display: none;
  position: fixed;
  top: 2%;
  right: 0%;
  height: max(15vh, 20vw);
  aspect-ratio: 1 / 1;
}
.fixed-logo-visible {
  display: unset;
}

.header {
  display: flex;
  flex-direction: column;
}
.main {
    color: white;
  padding: 5rem;
  padding-top: 0rem;
  gap: 25px;
}
.event-btns{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.eventbutton{
    background: transparent;
    border: 2px solid var(--main-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: bolder;
    transition: transform 0.2s ease-in-out;
}
.eventbutton:hover{
    transform: scale(1.05);
}
.prizes{
    display: block;
}
.eventprize{
    color: var(--main-color)
}
.prize {
    font-size: medium;
}
@media screen and (max-width:767px) {
  .events-page-heading{
  /* padding-top: 40px; */
  margin: 0px;
  margin-top: 50px;
  text-align: center;
  /* display: none; */
  }
}