.sidebarBackdrop {
  --sidebar-left-offset: 10vh;
  position: fixed;
  top: 0;
  left: var(--sidebar-left-offset);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-100%);
  z-index: -1;
  overflow: clip;
}
.sidebarBackdropOpen {
  transform: translateY(0%);
}
/* sidebar toggle icon */
.sidebarToggle {
  width: 70%;
  height: 70%;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  background: none;
  border: none;
}
.sidebarIcon line {
  transition: transform 0.25s ease-in-out;
}
.sidebarIcon > line:nth-child(1) {
  transform-origin: 50% 24%;
}
.sidebarIconChange > line:nth-child(1) {
  transform: translateY(26%) rotate(45deg);
}
.sidebarIcon > line:nth-child(2) {
  transform-origin: 10% 50%;
}
.sidebarIconChange > line:nth-child(2) {
  transform: scaleX(0);
}
.sidebarIcon > line:nth-child(3) {
  transform-origin: 50% 76%;
}
.sidebarIconChange > line:nth-child(3) {
  transform: translateY(-26%) rotate(-45deg);
}

/* main container */
.sidebarContainer {
  --sidebar-padding: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--sidebar-padding);
  width: 400px;
  min-width: 30%;
  max-width: calc(
    100% - var(--sidebar-left-offset) - 2 * var(--sidebar-padding)
  );
  height: 100%;
  top: 0;
  left: 0;
}

.sidebarBtn {
  --sidebar-button-width: 80;
  --sidebar-button-translate: calc((1 + 100 / var(--sidebar-button-width)));
  font-weight: bolder;
  font-size: x-large;

  border: none;
  height: 3rem;
  margin: auto 0;
  width: calc(var(--sidebar-button-width) * 1%);
  cursor: pointer;
  transform: translateX(
    calc(-1 * var(--sidebar-padding) - 50% * var(--sidebar-button-translate))
  );
  /* corner slant cut */
  background: linear-gradient(-45deg, transparent 15px, #ccf1e0 15px);
}
.sidebarBtn a{
  text-decoration: none;
  color: black;
}
.sidebarOpen > .sidebarBtn {
  animation: slideIn 0.2s calc((var(--animation-order) - 1) * 0.1s) ease-in-out
    forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(
      calc(-1 * var(--sidebar-padding) - 50% * var(--sidebar-button-translate))
    );
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 350px) {
  .sidebarBtn{
    font-size: large;
  }
}
